:root {
    --color-yellow: #FFCE07;
    --color-blue: #04C2F2;
    --color-green: #8BF204;
    --color-red: #F23C04;

    --color-menu: #f0f1f2;
    --color-background: #e0e0e0;
    --color-input: #e7e7e7;
    --color-details-green-dark: #689f4f;
    --color-text: #464444;
    --color-content-header: #ffffff;

    background-color: var(--color-yellow);
    background-image: url(../img/bg.png);

    font-family: 'Londrina Solid', cursive;
    color: var(--color-text)
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: var(--color-text);
}
::-webkit-scrollbar-thumb {
    background: var(--color-text);
}